body{
  height: 6000px;
}

#wave {
  width: 100%;
  padding: 50px 0 70px 0;
  background: url(img/bg_wave.png) repeat-x left bottom;
}
#wave h3{
  width: 80%;
  margin: 0 auto;
  vertical-align: middle;
  color: #fff;
}
